/*
 * Main Stylesheet
 * This is required for the engine to look correct visually.
 */
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
	--viewport-width: 640px;
	--viewport-height: 480px;
}

html, body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #888888;
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.6;
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
	line-height: 1.2;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.init {
	display: flex;
	background: black;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	color: white;
}

.init > div {
	text-align: center;
}

.viewport {
	background: white;
	width: var(--viewport-width);
	height: var(--viewport-height);
}

.layer {
	position: absolute;
	width: var(--viewport-width);
	height: var(--viewport-height);
}

.layer#foreground {
	z-index: 1;
}

.layer#background {
	z-index: 0;
}

canvas {
}